#Month{
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    font-size: xx-large;
    padding-left:42%;
}
.right.button-group{
    padding-top:2%;
}
.step.fi-plus.size-72{
    padding-right: 2%;
}
.step.fi-minus.size-72{
    padding-right: 2%;
}
#edit-monday1add{
    padding-left:20px;

}
